.App {
    display: flex;
    justify-content: center;

}


.todolistcontayner {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: black solid;
    border-radius: 8px;
}


.activeButton{
    background: #64ff93;
}