.App {
    display: flex;
    justify-content: center;

}


.todolistcontayner {
    position: relative;
    min-width: 250px;
    min-height: 250px;
    margin: 10px;
    padding: 10px;
    border: black solid;
    border-radius: 8px;
}

.tasks-container{
}
li-container{
}


.foter-buttons {
    gap:5px;
    position: absolute;
    bottom: 10px;
}
.activeButton{
    background: #fffcb5;
}
.notActiveButton{
    background: none;
    border: none;
}
.opacity{
    opacity: 40%;

}
.error {

    border: red 1px solid;

}

.error-message {
    color: red;
}
.remove-todolist{
    position: absolute;
    top: 5px;
    right: 5px;
}
.editableSpan{
    background: #a64848;
}


