.App {
    display: flex;
    justify-content: center;

}


.todolistcontayner {
    position: relative;
    min-width: 250px;
    margin: 10px;
    padding: 10px;
    border: black solid;
    border-radius: 8px;
}


.activeButton{
    background: #64ff93;
}
.opacity{
    opacity: 40%;

}
.error {

    border: red 1px solid;

}

.error-message {

    color: red;
}
.remove-todolist{
    position: absolute;
    top: 5px;
    right: 5px;
}
.editableSpan{
    background: #a64848;
}
.foter-buttons {
    position: absolute;
    bottom: 10px;

}

